header {
    background-image: linear-gradient(to left, rgb(300, 73, 250), rgb(195, 125, 250));
}

body {
    background-color: paleturquoise;
}
.forecast-day {
    color: white;
    background-color: plum;
    width: 20%;
}

.current-weather { 
    background-color: plum;
    color: white;
}

.uvi-good {
    color: rgb(173, 75, 9);
}

@media (max-width: 980px) {
    .forecast-day {
        width: 25%;
        justify-content: center;
    }
    .current-weather {
        width: 100%;
        margin-bottom: 5%;
    }
}

@media (max-width: 768px) {
    .forecast-day {
        width: 100%;
        margin-bottom: 5%;
        justify-content: center;
    }
    .current-weather{
        width: 100%;
        margin-bottom: 5%;
    }
}

@media (max-width: 576px) {
    .forecast-day {
        width: 100%;
        margin-bottom: 5%;
        justify-content: center;
    }
    .current-weather {
        width: 100%;
        margin-bottom: 5%;
    }
}